<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, height=device-height, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald%3A400%2C700" rel="stylesheet" type="text/css">

  <!-- ionic/angularjs js -->
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/ionic/js/ionic.bundle.js"></script>


  <!-- ngcordova -->
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <script src="js/interact.min.js"></script>
  <script src="js/interactions.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/loadout.js"></script>

</head>

<body ng-app="numbering">
<div id="custom-overlay">
  <div id="gifloader"></div>
</div>
  <ion-pane ng-controller="AbacusController">
    <ion-header-bar class="bar">
      <img class="resetbuttonl" src="img/leftset.png" ng-click="swopDirection('left')">
      <img class="resetbuttonr" ng-click="swopDirection('right')" src="img/rightset.png">
      <img class="main-logo" src="img/NumbeRing-Logo.png">
      <button id="infox" class="button button-icon ion-ios-information" ng-click="launchmodal()"></button>
      <icon id= "mute" ng-class="{'icon ion-volume-mute': mute, 'icon ion-volume-high': !mute}" ng-click="mute=!mute"></icon>
    </ion-header-bar>
    <ion-content scroll="false">
      <div id="main">
        <div id="row" class="row1">
          <div class="fish" id="icon_1">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>
          <div class="right-numbers">
            <div id="10" class="ten orange tap-target9 draggable ">
              <div class="numeral2">10</div>
            </div>
            <div id="9" class="nine orange tap-target9 draggable">
              <div class="numeral">9</div>
            </div>
            <div id="8" class="eight orange tap-target9 draggable">
              <div class="numeral">8</div>
            </div>
            <div id="7" class="seven orange tap-target9 draggable">
              <div class="numeral">7</div>
            </div>
            <div id="6" class="six orange tap-target9 draggable">
              <div class="numeral">6</div>
            </div>
            <div id="5" class="five orange tap-target9 draggable">
              <div class="numeral">5</div>
            </div>
            <div id="4" class="four orange tap-target9 draggable">
              <div class="numeral">4</div>
            </div>
            <div id="3" class="three orange tap-target9 draggable">
              <div class="numeral">3</div>
            </div>
            <div id="2" class="two orange tap-target9 draggable">
              <div class="numeral">2</div>
            </div>
            <div id="1" class="one orange tap-target9 draggable">
              <div class="numeral">1</div>
            </div>
          </div>
          <div class="left-numbers">
            <div id="1" class="one orange tap-target9 draggable">
              <div class="numeral">1</div>
            </div>
            <div id="2" class="two orange tap-target9 draggable">
              <div class="numeral">2</div>
            </div>
            <div id="3" class="three orange tap-target9 draggable">
              <div class="numeral">3</div>
            </div>
            <div id="4" class="four orange tap-target9 draggable">
              <div class="numeral">4</div>
            </div>
            <div id="5" class="five orange tap-target9 draggable">
              <div class="numeral">5</div>
            </div>
            <div id="6" class="six orange tap-target9 draggable">
              <div class="numeral">6</div>
            </div>
            <div id="7" class="seven orange tap-target9 draggable">
              <div class="numeral">7</div>
            </div>
            <div id="8" class="eight orange tap-target9 draggable">
              <div class="numeral">8</div>
            </div>
            <div id="9" class="nine orange tap-target9 draggable">
              <div class="numeral">9</div>
            </div>
            <div id="10" class="ten orange tap-target9 draggable ">
              <div class="numeral2">10</div>
            </div>
          </div>
        </div>
        <div id="row" class="row2">
          <div class="owl" id="icon_2">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>
            <div class="right-numbers">
              <div id="20" class="twenty darkblue tap-target10 draggable">
                <div class="numeral2">20</div>
              </div>
              <div id="19" class="nineteen darkblue tap-target10 draggable">
                <div class="numeral2">19</div>
              </div>
              <div id="18" class="eighteen darkblue tap-target10 draggable">
                <div class="numeral2">18</div>
              </div>
              <div id="17" class="seventeen darkblue tap-target10 draggable">
                <div class="numeral2">17</div>
              </div>
              <div id="16" class="sixteen darkblue tap-target10 draggable">
                <div class="numeral2">16</div>
              </div>
              <div id="15" class="fifteen darkblue tap-target10 draggable">
                <div class="numeral2">15</div>
              </div>
              <div id="14" class="fourteen darkblue tap-target10 draggable">
                <div class="numeral2">14</div>
              </div>
              <div id="13" class="thirteen darkblue tap-target10 draggable">
                <div class="numeral2">13</div>
              </div>
              <div id="12" class="twelve darkblue tap-target10 draggable">
                <div class="numeral2">12</div>
              </div>
              <div id="11" class="eleven darkblue tap-target10 draggable">
                <div class="numeral2">11</div>
              </div>
            </div>
            <div class="left-numbers">
              <div id="11" class="eleven darkblue tap-target10 draggable">
                <div class="numeral2">11</div>
              </div>
              <div id="12" class="twelve darkblue tap-target10 draggable">
                <div class="numeral2">12</div>
              </div>
              <div id="13" class="thirteen darkblue tap-target10 draggable">
                <div class="numeral2">13</div>
              </div>
              <div id="14" class="fourteen darkblue tap-target10 draggable">
                <div class="numeral2">14</div>
              </div>
              <div id="15" class="fifteen darkblue tap-target10 draggable">
                <div class="numeral2">15</div>
              </div>
              <div id="16" class="sixteen darkblue tap-target10 draggable">
                <div class="numeral2">16</div>
              </div>
              <div id="17" class="seventeen darkblue tap-target10 draggable">
                <div class="numeral2">17</div>
              </div>
              <div id="18" class="eighteen darkblue tap-target10 draggable">
                <div class="numeral2">18</div>
              </div>
              <div id="19" class="nineteen darkblue tap-target10 draggable">
                <div class="numeral2">19</div>
              </div>
              <div id="20" class="twenty darkblue tap-target10 draggable">
                <div class="numeral2">20</div>
              </div>
            </div>

        </div>
        <div id="row" class="row3">
          <div class="butterfly" id="icon_3">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>
          <div class="right-numbers">
            <div id="30" class="thirty lilac tap-target1 draggable">
              <div class="numeral2">30</div>
            </div>
            <div id="29" class="twentynine lilac tap-target1 draggable">
              <div class="numeral2">29</div>
            </div>
            <div id="28" class="twentyeight lilac tap-target1 draggable">
              <div class="numeral2">28</div>
            </div>
            <div id="27" class="twentyseven lilac tap-target1 draggable">
              <div class="numeral2">27</div>
            </div>
            <div id="26" class="twentysix lilac tap-target1 draggable">
              <div class="numeral2">26</div>
            </div>
            <div id="25" class="twentyfive lilac tap-target1 draggable">
              <div class="numeral2">25</div>
            </div>
            <div id="24" class="twentyfour lilac tap-target1 draggable">
              <div class="numeral2">24</div>
            </div>
            <div id="23" class="twentythree lilac tap-target1 draggable">
              <div class="numeral2">23</div>
            </div>
            <div id="22" class="twentytwo lilac tap-target1 draggable">
              <div class="numeral2">22</div>
            </div>
            <div id="21" class="twentyone lilac tap-target1 draggable">
              <div class="numeral2">21</div>
            </div>
          </div>

          <div class="left-numbers">
            <div id="21" class="twentyone lilac tap-target1 draggable">
              <div class="numeral2">21</div>
            </div>
            <div id="22" class="twentytwo lilac tap-target1 draggable">
              <div class="numeral2">22</div>
            </div>
            <div id="23" class="twentythree lilac tap-target1 draggable">
              <div class="numeral2">23</div>
            </div>
            <div id="24" class="twentyfour lilac tap-target1 draggable">
              <div class="numeral2">24</div>
            </div>
            <div id="25" class="twentyfive lilac tap-target1 draggable">
              <div class="numeral2">25</div>
            </div>
            <div id="26" class="twentysix lilac tap-target1 draggable">
              <div class="numeral2">26</div>
            </div>
            <div id="27" class="twentyseven lilac tap-target1 draggable">
              <div class="numeral2">27</div>
            </div>
            <div id="28" class="twentyeight lilac tap-target1 draggable">
              <div class="numeral2">28</div>
            </div>
            <div id="29" class="twentynine lilac tap-target1 draggable">
              <div class="numeral2">29</div>
            </div>
            <div id="30" class="thirty lilac tap-target1 draggable">
              <div class="numeral2">30</div>
            </div>
          </div>
        </div>
        <div id="row" class="row4">
          <div class="frog" id="icon_4">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>
          <div class="right-numbers">
            <div id="40" class="forty forestgreen tap-target2 draggable">
              <div class="numeral2">40</div>
            </div>
            <div id="39" class="thirtynine forestgreen tap-target2 draggable">
              <div class="numeral2">39</div>
            </div>
            <div id="38" class="thirtyeight forestgreen tap-target2 draggable">
              <div class="numeral2">38</div>
            </div>
            <div id="37" class="thirtyseven forestgreen tap-target2 draggable">
              <div class="numeral2">37</div>
            </div>
            <div id="36" class="thirtysix forestgreen tap-target2 draggable">
              <div class="numeral2">36</div>
            </div>
            <div id="35" class="thirtyfive forestgreen tap-target2 draggable">
              <div class="numeral2">35</div>
            </div>
            <div id="34" class="thirtyfour forestgreen tap-target2 draggable">
              <div class="numeral2">34</div>
            </div>
            <div id="33" class="thirtythree forestgreen tap-target2 draggable">
              <div class="numeral2">33</div>
            </div>
            <div id="32" class="thirtytwo forestgreen tap-target2 draggable">
              <div class="numeral2">32</div>
            </div>
            <div id="31" class="thirtyone forestgreen tap-target2 draggable">
              <div class="numeral2">31</div>
            </div>
          </div>


          <div class="left-numbers">
            <div id="31" class="thirtyone forestgreen tap-target2 draggable">
              <div class="numeral2">31</div>
            </div>
            <div id="32" class="thirtytwo forestgreen tap-target2 draggable">
              <div class="numeral2">32</div>
            </div>
            <div id="33" class="thirtythree forestgreen tap-target2 draggable">
              <div class="numeral2">33</div>
            </div>
            <div id="34" class="thirtyfour forestgreen tap-target2 draggable">
              <div class="numeral2">34</div>
            </div>
            <div id="35" class="thirtyfive forestgreen tap-target2 draggable">
              <div class="numeral2">35</div>
            </div>
            <div id="36" class="thirtysix forestgreen tap-target2 draggable">
              <div class="numeral2">36</div>
            </div>
            <div id="37" class="thirtyseven forestgreen tap-target2 draggable">
              <div class="numeral2">37</div>
            </div>
            <div id="38" class="thirtyeight forestgreen tap-target2 draggable">
              <div class="numeral2">38</div>
            </div>
            <div id="39" class="thirtynine forestgreen tap-target2 draggable">
              <div class="numeral2">39</div>
            </div>
            <div id="40" class="forty forestgreen tap-target2 draggable">
              <div class="numeral2">40</div>
            </div>

          </div>

        </div>
        <div id="row" class="row5">
          <div class="flower" id="icon_5">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>
          <div class="right-numbers">
            <div id="50" class="fifty pink tap-target3 draggable">
              <div class="numeral2">50</div>
            </div>
            <div id="49" class="fortynine pink tap-target3 draggable">
              <div class="numeral2">49</div>
            </div>
            <div id="48" class="fortyeight pink tap-target3 draggable">
              <div class="numeral2">48</div>
            </div>
            <div id="47" class="fortyseven pink tap-target3 draggable">
              <div class="numeral2">47</div>
            </div>
            <div id="46" class="fortysix pink tap-target3 draggable">
              <div class="numeral2">46</div>
            </div>
            <div id="45" class="fortyfive pink tap-target3 draggable">
              <div class="numeral2">45</div>
            </div>
            <div id="44" class="fortyfour pink tap-target3 draggable">
              <div class="numeral2">44</div>
            </div>
            <div id="43" class="fortythree pink tap-target3 draggable">
              <div class="numeral2">43</div>
            </div>
            <div id="42" class="fortytwo pink tap-target3 draggable">
              <div class="numeral2">42</div>
            </div>
            <div id="41" class="fortyone pink tap-target3 draggable">
              <div class="numeral2">41</div>
            </div>
          </div>

          <div class="left-numbers">
            <div id="41" class="fortyone pink tap-target3 draggable">
              <div class="numeral2">41</div>
            </div>
            <div id="42" class="fortytwo pink tap-target3 draggable">
              <div class="numeral2">42</div>
            </div>
            <div id="43" class="fortythree pink tap-target3 draggable">
              <div class="numeral2">43</div>
            </div>
            <div id="44" class="fortyfour pink tap-target3 draggable">
              <div class="numeral2">44</div>
            </div>
            <div id="45" class="fortyfive pink tap-target3 draggable">
              <div class="numeral2">45</div>
            </div>
            <div id="46" class="fortysix pink tap-target3 draggable">
              <div class="numeral2">46</div>
            </div>
            <div id="47" class="fortyseven pink tap-target3 draggable">
              <div class="numeral2">47</div>
            </div>
            <div id="48" class="fortyeight pink tap-target3 draggable">
              <div class="numeral2">48</div>
            </div>
            <div id="49" class="fortynine pink tap-target3 draggable">
              <div class="numeral2">49</div>
            </div>
            <div id="50" class="fifty pink tap-target3 draggable">
              <div class="numeral2">50</div>
            </div>


          </div>

        </div>
        <div id="row" class="row6">
          <div class="star" id="icon_6">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>

          <div class="right-numbers">
            <div id="60" class="sixty yellow tap-target4 draggable">
              <div class="numeral2">60</div>
            </div>
            <div id="59" class="fiftynine yellow tap-target4 draggable">
              <div class="numeral2">59</div>
            </div>
            <div id="58" class="fiftyeight yellow tap-target4 draggable">
              <div class="numeral2">58</div>
            </div>
            <div id="57" class="fiftyseven yellow tap-target4 draggable">
              <div class="numeral2">57</div>
            </div>
            <div id="56" class="fiftysix yellow tap-target4 draggable">
              <div class="numeral2">56</div>
            </div>
            <div id="55" class="fiftyfive yellow tap-target4 draggable">
              <div class="numeral2">55</div>
            </div>
            <div id="54" class="fiftyfour yellow tap-target4 draggable">
              <div class="numeral2">54</div>
            </div>
            <div id="53" class="fiftythree yellow tap-target4 draggable">
              <div class="numeral2">53</div>
            </div>
            <div id="52" class="fiftytwo yellow tap-target4 draggable">
              <div class="numeral2">52</div>
            </div>
            <div id="51" class="fiftyone yellow tap-target4 draggable">
              <div class="numeral2">51</div>
            </div>
          </div>

          <div class="left-numbers">
            <div id="51" class="fiftyone yellow tap-target4 draggable">
              <div class="numeral2">51</div>
            </div>
            <div id="52" class="fiftytwo yellow tap-target4 draggable">
              <div class="numeral2">52</div>
            </div>
            <div id="53" class="fiftythree yellow tap-target4 draggable">
              <div class="numeral2">53</div>
            </div>
            <div id="54" class="fiftyfour yellow tap-target4 draggable">
              <div class="numeral2">54</div>
            </div>
            <div id="55" class="fiftyfive yellow tap-target4 draggable">
              <div class="numeral2">55</div>
            </div>
            <div id="56" class="fiftysix yellow tap-target4 draggable">
              <div class="numeral2">56</div>
            </div>
            <div id="57" class="fiftyseven yellow tap-target4 draggable">
              <div class="numeral2">57</div>
            </div>
            <div id="58" class="fiftyeight yellow tap-target4 draggable">
              <div class="numeral2">58</div>
            </div>
            <div id="59" class="fiftynine yellow tap-target4 draggable">
              <div class="numeral2">59</div>
            </div>
            <div id="60" class="sixty yellow tap-target4 draggable">
              <div class="numeral2">60</div>
            </div>
          </div>
        </div>
        <div id="row" class="row7">
          <div class="cat" id="icon_7">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>
          <div class="right-numbers">
            <div id="70" class="seventy grey tap-target5 draggable">
              <div class="numeral2">70</div>
            </div>
            <div id="69" class="sixtynine grey tap-target5 draggable">
              <div class="numeral2">69</div>
            </div>
            <div id="68" class="sixtyeight grey tap-target5 draggable">
              <div class="numeral2">68</div>
            </div>
            <div id="67" class="sixtyseven grey tap-target5 draggable">
              <div class="numeral2">67</div>
            </div>
            <div id="66" class="sixtysix grey tap-target5 draggable">
              <div class="numeral2">66</div>
            </div>
            <div id="65" class="sixtyfive grey tap-target5 draggable">
              <div class="numeral2">65</div>
            </div>
            <div id="64" class="sixtyfour grey tap-target5 draggable">
              <div class="numeral2">64</div>
            </div>
            <div id="63" class="sixtythree grey tap-target5 draggable">
              <div class="numeral2">63</div>
            </div>
            <div id="62" class="sixtytwo grey tap-target5 draggable">
              <div class="numeral2">62</div>
            </div>
            <div id="61" class="sixtyone grey tap-target5 draggable">
              <div class="numeral2">61</div>
            </div>
          </div>

          <div class="left-numbers">
            <div id="61" class="sixtyone grey tap-target5 draggable">
              <div class="numeral2">61</div>
            </div>
            <div id="62" class="sixtytwo grey tap-target5 draggable">
              <div class="numeral2">62</div>
            </div>
            <div id="63" class="sixtythree grey tap-target5 draggable">
              <div class="numeral2">63</div>
            </div>
            <div id="64" class="sixtyfour grey tap-target5 draggable">
              <div class="numeral2">64</div>
            </div>
            <div id="65" class="sixtyfive grey tap-target5 draggable">
              <div class="numeral2">65</div>
            </div>
            <div id="66" class="sixtysix grey tap-target5 draggable">
              <div class="numeral2">66</div>
            </div>
            <div id="67" class="sixtyseven grey tap-target5 draggable">
              <div class="numeral2">67</div>
            </div>
            <div id="68" class="sixtyeight grey tap-target5 draggable">
              <div class="numeral2">68</div>
            </div>
            <div id="69" class="sixtynine grey tap-target5 draggable">
              <div class="numeral2">69</div>
            </div>
            <div id="70" class="seventy grey tap-target5 draggable">
              <div class="numeral2">70</div>
            </div>
          </div>
        </div>
        <div id="row" class="row8">
          <div class="heart" id="icon_8">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>
          <div class="right-numbers">
            <div id="80" class="eighty red tap-target6 draggable">
              <div class="numeral2">80</div>
            </div>
            <div id="79" class="seventynine red tap-target6 draggable">
              <div class="numeral2">79</div>
            </div>
            <div id="78" class="seventyeight red tap-target6 draggable">
              <div class="numeral2">78</div>
            </div>
            <div id="77" class="seventyseven red tap-target6 draggable">
              <div class="numeral2">77</div>
            </div>
            <div id="76" class="seventysix red tap-target6 draggable">
              <div class="numeral2">76</div>
            </div>
            <div id="75" class="seventyfive red tap-target6 draggable">
              <div class="numeral2">75</div>
            </div>
            <div id="74" class="seventyfour red tap-target6 draggable">
              <div class="numeral2">74</div>
            </div>
            <div id="73" class="seventythree red tap-target6 draggable">
              <div class="numeral2">73</div>
            </div>
            <div id="72" class="seventytwo red tap-target6 draggable">
              <div class="numeral2">72</div>
            </div>
            <div id="71" class="seventyone red tap-target6 draggable">
              <div class="numeral2">71</div>
            </div>
          </div>

          <div class="left-numbers">
            <div id="71" class="seventyone red tap-target6 draggable">
              <div class="numeral2">71</div>
            </div>
            <div id="72" class="seventytwo red tap-target6 draggable">
              <div class="numeral2">72</div>
            </div>
            <div id="73" class="seventythree red tap-target6 draggable">
              <div class="numeral2">73</div>
            </div>
            <div id="74" class="seventyfour red tap-target6 draggable">
              <div class="numeral2">74</div>
            </div>
            <div id="75" class="seventyfive red tap-target6 draggable">
              <div class="numeral2">75</div>
            </div>
            <div id="76" class="seventysix red tap-target6 draggable">
              <div class="numeral2">76</div>
            </div>
            <div id="77" class="seventyseven red tap-target6 draggable">
              <div class="numeral2">77</div>
            </div>
            <div id="78" class="seventyeight red tap-target6 draggable">
              <div class="numeral2">78</div>
            </div>
            <div id="79" class="seventynine red tap-target6 draggable">
              <div class="numeral2">79</div>
            </div>
            <div id="80" class="eighty red tap-target6 draggable">
              <div class="numeral2">80</div>
            </div>
          </div>
        </div>
        <div id="row" class="row9">
          <div class="apple" id="icon_9">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>
            <div class="right-numbers">
              <div id="90" class="ninety lightgreen tap-target7 draggable">
                <div class="numeral2">90</div>
              </div>
              <div id="89" class="eightynine lightgreen tap-target7 draggable">
                <div class="numeral2">89</div>
              </div>
              <div id="88" class="eightyeight lightgreen tap-target7 draggable">
                <div class="numeral2">88</div>
              </div>
              <div id="87" class="eightyseven lightgreen tap-target7 draggable">
                <div class="numeral2">87</div>
              </div>
              <div id="86" class="eightysix lightgreen tap-target7 draggable">
                <div class="numeral2">86</div>
              </div>
              <div id="85" class="eightyfive lightgreen tap-target7 draggable">
                <div class="numeral2">85</div>
              </div>
              <div id="84" class="eightyfour lightgreen tap-target7 draggable">
                <div class="numeral2">84</div>
              </div>
              <div id="83" class="eightythree lightgreen tap-target7 draggable">
                <div class="numeral2">83</div>
              </div>
              <div id="82" class="eightytwo lightgreen tap-target7 draggable">
                <div class="numeral2">82</div>
              </div>
              <div id="81" class="eightyone lightgreen tap-target7 draggable">
                <div class="numeral2">81</div>
              </div>
            </div>

            <div class="left-numbers">
              <div id="81" class="eightyone lightgreen tap-target7 draggable">
                <div class="numeral2">81</div>
              </div>
              <div id="82" class="eightytwo lightgreen tap-target7 draggable">
                <div class="numeral2">82</div>
              </div>
              <div id="83" class="eightythree lightgreen tap-target7 draggable">
                <div class="numeral2">83</div>
              </div>
              <div id="84" class="eightyfour lightgreen tap-target7 draggable">
                <div class="numeral2">84</div>
              </div>
              <div id="85" class="eightyfive lightgreen tap-target7 draggable">
                <div class="numeral2">85</div>
              </div>
              <div id="86" class="eightysix lightgreen tap-target7 draggable">
                <div class="numeral2">86</div>
              </div>
              <div id="87" class="eightyseven lightgreen tap-target7 draggable">
                <div class="numeral2">87</div>
              </div>
              <div id="88" class="eightyeight lightgreen tap-target7 draggable">
                <div class="numeral2">88</div>
              </div>
              <div id="89" class="eightynine lightgreen tap-target7 draggable">
                <div class="numeral2">89</div>
              </div>
              <div id="90" class="ninety lightgreen tap-target7 draggable">
                <div class="numeral2">90</div>
              </div>
            </div>
        </div>
        <div id="row" class="row10">
          <div class="ball" id="icon_10">
              <div class="icon"></div>
              <div class="icon-glow"></div>
          </div>

          <div class="right-numbers">
            <div id="100" class="onehundred lightblue tap-target8 draggable">
              <div class="numeral99">100</div>
            </div>
            <div id="99" class="ninetynine lightblue tap-target8 draggable">
              <div class="numeral2">99</div>
            </div>
            <div id="98" class="ninetyeight lightblue tap-target8 draggable">
              <div class="numeral2">98</div>
            </div>
            <div id="97" class="ninetyseven lightblue tap-target8 draggable">
              <div class="numeral2">97</div>
            </div>
            <div id="96" class="ninetysix lightblue tap-target8 draggable">
              <div class="numeral2">96</div>
            </div>
            <div id="95" class="ninetyfive lightblue tap-target8 draggable">
              <div class="numeral2">95</div>
            </div>
            <div id="94" class="ninetyfour lightblue tap-target8 draggable">
              <div class="numeral2">94</div>
            </div>
            <div id="93" class="ninetythree lightblue tap-target8 draggable">
              <div class="numeral2">93</div>
            </div>
            <div id="92" class="ninetytwo lightblue tap-target8 draggable">
              <div class="numeral2">92</div>
            </div>
            <div id="91" class="ninetyone lightblue tap-target8 draggable">
              <div class="numeral2">91</div>
            </div>
          </div>

          <div class="left-numbers">
            <div id="91" class="ninetyone lightblue tap-target8 draggable">
              <div class="numeral2">91</div>
            </div>
            <div id="92" class="ninetytwo lightblue tap-target8 draggable">
              <div class="numeral2">92</div>
            </div>
            <div id="93" class="ninetythree lightblue tap-target8 draggable">
              <div class="numeral2">93</div>
            </div>
            <div id="94" class="ninetyfour lightblue tap-target8 draggable">
              <div class="numeral2">94</div>
            </div>
            <div id="95" class="ninetyfive lightblue tap-target8 draggable">
              <div class="numeral2">95</div>
            </div>
            <div id="96" class="ninetysix lightblue tap-target8 draggable">
              <div class="numeral2">96</div>
            </div>
            <div id="97" class="ninetyseven lightblue tap-target8 draggable">
              <div class="numeral2">97</div>
            </div>
            <div id="98" class="ninetyeight lightblue tap-target8 draggable">
              <div class="numeral2">98</div>
            </div>
            <div id="99" class="ninetynine lightblue tap-target8 draggable">
              <div class="numeral2">99</div>
            </div>
            <div id="100" class="onehundred lightblue tap-target8 draggable">
              <div class="numeral99">100</div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-pane>
  <script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title">Help</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
      </ion-header-bar>
      <ion-content class="padding">
          <img class="tut" src="img/tut.jpg" />
      </ion-content>
    </ion-modal-view>
  </script>
</body>

</html>
