#main {
  background: url("../img/backg.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  padding-left: 2px;
  height: 100%;
}

.platform-ios #main {
  background: url("../img/backg.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  padding-left: 2px;
  height: 100%;
}
/* splash styles */
#gifloader {
  background-image: url('../img/splash3.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;

}

.platform-ios #gifloader {
  background-image: url('../img/splash3.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;

}

#custom-overlay {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

}

.platform-ios #custom-overlay {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

}
/* end splash styles */
#theTrain {
  background: #ff0000;
  display: inline-block;
  position: absolute;
}
body {
  font-family: 'Oswald', sans-serif;
}
#mute {
  margin-top: 18px !important;
  font-size: 30px;
  margin-right: 8px;
  height: 60px;
  color:#00aaad;
}

.platform-ios #mute {
  margin-top: 18px !important;
  font-size: 30px;
  margin-right: 8px;
  height: 60px;
  color:#00aaad;
}
#mute i {
  color: #bfbfbf !important;
  margin-top: 18px !important;
}

.platform-ios #mute i {
  color: #bfbfbf !important;
  margin-top: 18px !important;
}
#infox {
  color: #00aaad;
  margin-top: 10px !important;
  margin-right:20px;
}

.platform-ios #infox {
  color: #00aaad;
  margin-top: 10px !important;
  margin-right:20px
}
.resetbuttonl {
  max-width: 45px;

}
.resetbuttonr {
  max-width: 45px;
}
.modal-wrapper {
  height:600px !important;
  width: 10px !important;
}
.tut {
  display:block;
  margin: auto;
  max-width:80%;
  max-height:70%;
  padding:10px;
}
#row {
  background: url("../img/poles.png");
  background-size: contain;
  background-repeat: repeat-x;
  height: 69px;
  margin-bottom: -5px;
  clear: both;
}
.main-logo {
  max-height: 30px;
  display: block;
  margin: auto auto;
}
.numeral {
  font-size: 24px;
  font-style: normal;
  font-weight: bolder;
  margin: 10px 7px auto auto;
  width: 50%;
  display: table;
}
.numeral2 {
  font-size: 24px;
  font-style: normal;
  font-weight: bolder;
  margin: 10px auto auto auto;
  width: 50%;
  display: table;
}
.numeral3 {
  font-size: 24px;
  letter-spacing: -1px;
  font-style: normal;
  font-weight: bolder;
  margin: auto auto;
  width: 50%;
  display: table;
}
.numeral99 {
  font-size: 24px;
  letter-spacing: -1px;
  font-style: normal;
  font-weight: bolder;
  margin: 10px auto auto auto;
  width: 50%;
  display: table;
}
.orange {
  background: url("../img/orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
  float: right;
  margin-right:5px !important;
  margin-top:5px;
}
.darkblue {
  background: url("../img/blue.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  float: right;
  margin-right:5px !important;
  margin-top:5px;
}
.lilac {
  background: url("../img/purple.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  float: right;
  margin-right:5px !important;
  z-index: 5;
  margin-top:5px;
}
.forestgreen {
  background: url("../img/green.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  float: right;
  margin-right:5px !important;
  z-index: 5;
  margin-top:5px;
}
.pink {
  background: url("../img/pink.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
  margin-right:5px !important;
  float: right;
  margin-top:5px;
}
.yellow {
  background: url("../img/yellow.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  margin-right:5px !important;
  width: 52px;
  float: right;
  z-index: 5;
  margin-top:5px;
}
.grey {
  background: url("../img/grey.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right:5px !important;
  height: 65px;
  width: 52px;
  z-index: 5;
  margin-top:5px;
  float: right;
}
.red {
  background: url("../img/red.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top:5px;
  height: 65px;
  width: 52px;
  z-index: 5;
  float: right;
  margin-right:5px !important;
}
.lightgreen {
  background: url("../img/green2.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  margin-right:5px !important;
  width: 52px;
  float: right;
  z-index: 5;
  margin-top:5px;
}
.lightblue {
  background: url("../img/blue2.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  float: right;
  width: 52px;
  margin-right:5px !important;
  z-index: 5;
  margin-top:5px;
}

/* icons */

.fish {
  display: inline-block;
  z-index: 5;
  margin-right:5px;
  float: left !important;
  margin-top:5px;
  position: relative;
  width: 52px;
}

.fish .icon {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 20;
  background: url('../img/fish.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.fish .icon-glow {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 10;
  background: url('../img/fishGlow.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}







.owl {
  display: inline-block;
  z-index: 5;
  margin-right:5px;
  float: left !important;
  margin-top:5px;
  position: relative;
  width: 52px;
}

.owl .icon {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 20;
  background: url('../img/owl.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.owl .icon-glow {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 10;
  background: url('../img/owlGlow.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}






.butterfly {
  display: inline-block;
  z-index: 5;
  margin-right:5px;
  float: left !important;
  margin-top:5px;
  position: relative;
  width: 52px;
}

.butterfly .icon {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 20;
  background: url('../img/butterfly.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.butterfly .icon-glow {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 10;
  background: url('../img/butterflyglow.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}







.frog {
  display: inline-block;
  z-index: 5;
  margin-right:5px;
  float: left !important;
  margin-top:5px;
  position: relative;
  width: 52px;
}

.frog .icon {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 20;
  background: url('../img/frog.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.frog .icon-glow {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 10;
  background: url('../img/frogglow.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}




.flower {
  display: inline-block;
  z-index: 5;
  margin-right:5px;
  float: left !important;
  margin-top:5px;
  position: relative;
  width: 52px;
}

.flower .icon {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 20;
  background: url('../img/flower.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.flower .icon-glow {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 10;
  background: url('../img/flowerglow.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}





.star {
  display: inline-block;
  z-index: 5;
  margin-right:5px;
  float: left !important;
  margin-top:5px;
  position: relative;
  width: 52px;
}

.star .icon {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 20;
  background: url('../img/star.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.star .icon-glow {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 10;
  background: url('../img/starglow.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}


  .cat {
    display: inline-block;
    z-index: 5;
    margin-right:5px;
    float: left !important;
    margin-top:5px;
    position: relative;
    width: 52px;
  }

  .cat .icon {
    position: absolute;
    top:0;
    left:0;
    height: 65px;
    width: 52px;
    z-index: 20;
    background: url('../img/cat.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
  .cat .icon-glow {
    position: absolute;
    top:0;
    left:0;
    height: 65px;
    width: 52px;
    z-index: 10;
    background: url('../img/catglow.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }




.heart {
  display: inline-block;
  z-index: 5;
  margin-right:5px;
  float: left !important;
  margin-top:5px;
  position: relative;
  width: 52px;
}

.heart .icon {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 20;
  background: url('../img/heart.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.heart .icon-glow {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 10;
  background: url('../img/heartglow.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.apple {
  display: inline-block;
  z-index: 5;
  margin-right:5px;
  float: left !important;
  margin-top:5px;
  position: relative;
  width: 52px;
}
.apple .icon {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 20;
  background: url('../img/apple.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.apple .icon-glow {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 10;
  background: url('../img/appleglow.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}




.ball {
  display: inline-block;
  z-index: 5;
  margin-right:5px;
  float: left !important;
  margin-top:5px;
  position: relative;
  width: 52px;
}
.ball .icon {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 20;
  background: url('../img/ball.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.ball .icon-glow {
  position: absolute;
  top:0;
  left:0;
  height: 65px;
  width: 52px;
  z-index: 10;
  background: url('../img/ballglow.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
/*.ball.glow {
  background: url('../img/ballglow.png') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  float: left !important;
  display: inline-block !important;
  height: 65px !important;
  width: 52px !important;
  margin-right:5px !important;
  z-index: 5 !important;
  margin-top:5px !important;
  }*/

.left-numbers {
  display:none;
}
/* -- icon end */


/* interact  */

.tap-target {
  /*  width: 50%;
  height: 100%;
  padding: 10%;
  margin: 10% auto;

  border-radius: 100%;

  font-size: 1.125em;
  text-align: center;
  color: #fff;
  background-color: #29e;

  cursor: pointer;

  transition: all 0.3s; */
}
.tap-target9.switch-bg9 {
  background-image: url('../img/orangepeg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
.tap-target10.switch-bg10 {
  background-image: url('../img/bluepeg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
.tap-target1.switch-bg1 {
  background-image: url('../img/purplepeg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
.tap-target2.switch-bg2 {
  background-image: url('../img/greenpeg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
.tap-target3.switch-bg3 {
  background-image: url('../img/pinkpeg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
.tap-target4.switch-bg4 {
  background-image: url('../img/yellowpeg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
.tap-target5.switch-bg5 {
  background-image: url('../img/greypeg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
.tap-target6.switch-bg6 {
  background-image: url('../img/redpeg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
.tap-target7.switch-bg7 {
  background-image: url('../img/green2peg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
.tap-target8.switch-bg8 {
  background-image: url('../img/blue2peg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 65px;
  width: 52px;
  z-index: 5;
}
